@font-face {
	font-family: "JetBrains Mono";
	src: url(../fonts/JetBrainsMono-Regular.ttf);
}

body {
	background-color: #d9cdd6;
	padding: 20px;
	font-size: 20px;
}

code {
	font-size: 20px;
	font-family: 'JetBrains Mono';
}
.container{
	margin: auto;
	width: 75%;
}
.header{
	display: flex;
	justify-content: space-around;
}
.photo {
	border-radius: 50%;
	box-shadow: 0 0 7px #666;
	float: left;
}
.skill_list{
	list-style-type: none;
}
.skill_list_element{
	margin-top: 20px;
}
.block__info{
	margin: 10px;
	padding: 7px;
	background-color: white;
	border-radius: 30px;
}
main {
	height: 1100px;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(300px, 2fr) );
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "about about about skills"
						 "work work work skills"
						 "work work work skills"
						 "code code code code"
						 "goose goose goose goose";
}

.about{
	grid-area: about;
}

.skills{
	grid-area: skills;
}

.work_expirence{
	grid-area: work;
}

.best_code{
	grid-area: code;
}

.goose{
	grid-area: goose;
}

footer {
	display: flex;
	justify-content: space-around;
}

footer a{
	text-decoration: none;
	color: black;
}

footer a:hover {
	text-decoration: none;
	color: white;
	background: black;
}
